using System.Collections;
using System.Collections.Generic;
using UnityEngine;

namespace ZFramework
{
    public partial class App : MonoBehaviour
    {
        public static Hook On{0}TestHook; // Change to your hook ( How to use: App.On{0}TestHook += Action; )
    }
}
